:root {
    /* d for dark */
    /* m for medium */
    /* b for bright */
    /* p for primary */
    /* s for secondary */

    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;


    /* spot pallette */
    /* --navy */
    --fadedNavy: #38445D;
    --lightBlue: #E3F0FF;
    --goldiLocks: #D8A31A;

    /* dotting palette */
    --fadedNavy2: #A5ABBD;
    --reddishBrown: #2D0F16;
    --creamyRedBrown: #BEA5A9;
    --darkCream: #7e545b;

    --resumeWidth: 35px;
    --baseFontSize: 16px;
    --contentWidth: 90%;
    --sectionMargin: 50px 0;
    --containerPadding: 15px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--navy);
    counter-reset: sec_number;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--contentWidth);
    border: 1px solid aliceblue;
    height: 50px;
    margin: 25px 0;
    position: relative;
    z-index: 2;
}

.logo_container {
    /* border: 1px solid red; */
    position: relative;
    height: 50px;
    width: 50px;
}

#logo_filled {
    position: absolute;
}

#logo_stroked {
    position: absolute;
    transition: all .3s ease;
}

.logo_container:hover #logo_stroked {
    transform: translate(-3px, -3px);
}

.burger_btn {
    border: 1px solid aliceblue;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    position: relative;
    height: 52px;
    width: 52px;
}

.burger_btn .line {
    background-color: var(--creamyRedBrown);
    width: 32px;
    height: 3px;
    position: absolute;
    border-radius: 5px;
}

@keyframes move_down_top {
    0% {
        top: 13px;
    }
    100% {
        top: 23px;
    }
}

@keyframes rotate_clockwise_top {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(225deg);
    }
}

@keyframes move_up_top {
    0% {
        top: 23px;
    }
    100% {
        top: 13px;
    }
}

@keyframes rotate_counterclockwise_top {
    0% {
        top: 23px;
        transform: rotate(225deg);
    }
    100% {
        top: 23px;
        transform: rotate(0deg);
    }
}

.line.top {
    top: 13px;
}

.line.top.inactive {
    transform: rotate(225deg);
    animation: rotate_counterclockwise_top .3s ease forwards, move_up_top .3s ease forwards .3s;
}

.line.top.active {
    animation: move_down_top .3s ease forwards, rotate_clockwise_top .3s ease forwards .3s;
}

 .line.middle {
    top: 23px;
}

.line.middle.active {
    transition: .3s ease .3s;
    opacity: 0;
}

.line.middle.inactive {
    transition: all .3s ease .3s;
}

@keyframes move_up_bottom {
    0% {
        top: 33px;
    }

    100% {
        top: 23px;
    }
}
@keyframes rotate_clockwise_bottom {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(315deg);
    }
}

@keyframes move_down_bottom {
    0% {
        top: 23px;
    }

    100% {
        top: 33px;
    }
}
@keyframes rotate_counterclockwise_bottom {
    0% {
        top: 23px;
        transform: rotate(315deg);
    }

    100% {
        top: 23px;
        transform: rotate(0deg);
    }
}

.line.bottom {
    top: 33px;
}

.line.bottom.inactive {
    transform: rotate(135deg);
    animation: rotate_counterclockwise_bottom .3s ease forwards, move_down_bottom .3s ease forwards .3s;
}

.line.bottom.active {
    animation: move_up_bottom .3s ease forwards, rotate_clockwise_bottom .3s ease forwards .3s;
}

.circle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--creamyRedBrown);
    transition: all .3s ease .3s;
}

.circle.active {
    opacity: 1;
}

.nav_ol {
    list-style-type: decimal-leading-zero;

    color: var(--creamyRedBrown);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 20px;
    display: none;
}

.nav_ol li:hover a {
    color: var(--creamyRedBrown);
}

.nav_ol li a {
    transition: color .3s ease;
    text-decoration: none;
    color: var(--lightBlue);
}

@media screen and (min-width:770px) {
    .nav_ol {
        display: flex;
    }

    .burger_btn {
        display: none;
    }
}

.resume_div_container {
    position: relative;
    width: 35px;
    margin-left: 5px;
    margin-right: 25px;
    border-radius: 5px;
    transition: all .3s ease;
}

.resume_fill_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    width: 89px;
    background-color: var(--creamyRedBrown);
    color: var(--creamyRedBrown);
    border-radius: 5px;
    /* border: 2px solid var(--creamyRedBrown); */
}

.resume_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    background-color: var(--navy);
    color: var(--creamyRedBrown);
    border-radius: 5px;
    border: 2px solid var(--creamyRedBrown);
    transition: all .3s ease;
}


.resume_btn a {
    text-decoration: none; 
    color: var(--lightBlue);
    background-color: var(--navy);
    padding: 10px 20px;
    border-radius: 5px;
}

.resume_div_container:hover .resume_btn.visible {
    transform: translate(-55%, -58%);
}

.collapsible_nav {
    height: 100vh;
    border: 1px solid red;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all .2s ease;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.collapsible_nav.closed {
    width: 0px;
}

.collapsible_nav.opened {
    width: 100vw;
    backdrop-filter: blur(10px);
} 

.collapsible_nav ul {
    /* list-style-type: decimal-leading-zero; */
    list-style: none;
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    color: var(--creamyRedBrown);
    gap: 20px 0;
    background-color: var(--light-navy);

}

.collapsible_nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px 0;
    font-size: 16px;
}

.collapsible_nav ul li > a {
    color: var(--lightBlue);
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    transition: color .5s ease;
}

.collapsible_nav ul li a:hover {
    color: var(--creamyRedBrown);
}


.resume_div_container_alt {
    position: relative;
    width: 104px;
    margin: 30px 0;
}

.resume_fill_div_alt {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 42px;
    width: 110px;
    transform: translate(-50%, -50%);
    background-color: var(--creamyRedBrown);
    border-radius: 5px;
}

.resume_btn_alt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 40px; */
    background-color: var(--light-navy);
    color: var(--creamyRedBrown);
    border-radius: 5px;
    border: 2px solid var(--creamyRedBrown);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.resume_btn_alt a {
    text-decoration: none;
    color: var(--lightBlue);
    font-size: 20px;
    transition: all .5s ease;
    display: inline-block;
    padding: 10px 18px;
}

.resume_div_container_alt:hover .resume_btn_alt {
    transform: translate(-55%, -58%);
}





/* INTRODUCTION */
/* INTRODUCTION */

.intro_section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--sectionMargin);
}

.intro_container {
    width: var(--contentWidth);
    border: 1px solid var(--lightBlue);
    height: 80%;
    padding: var(--containerPadding)

}

.greeting {
    font-size: 25px;
    color: var(--creamyRedBrown);
    line-height: 18px;
    margin: 20px 0;
}

.name {
    font-size: 48px;
    font-size: clamp(48px, 10vw, 68px);
    /* border: 1px solid aliceblue; */
    color: rgb(204, 214, 246);
    font-weight: 600;
}

.what_i_do_short {
    font-size: 48px;
    font-size: clamp(48px, 10vw, 68px);
    color: rgb(136, 146, 176);
}

.what_i_do_long {
    font-size: 16px;
    color: rgb(136, 146, 176);
    line-height: 26px;
    max-width: 540px;
}

.what_i_do_long span {
    color: var(--creamyRedBrown);
}

.link_to_best_proj_container {
    position: relative;
    height: 43px;
    width: 191px;
    background-color: var(--creamyRedBrown);
    border-radius: 5px;
    margin: 20px 0;
}

.best_proj_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 43px;
    width: 191px;
    border-radius: 5px;
    border: 2px solid var(--creamyRedBrown);
    background: var(--navy);
    cursor: pointer;
    color: var(--lightBlue);
    font-size: 16px;
    padding: 10px 20px;
    transition: all .3s ease;
}

.link_to_best_proj_container:hover .best_proj_btn {
    transform: translate(-52%, -56%);
    /* color: var(--creamyRedBrown); */
}


/* ABOUT */
/* ABOUT */

.am_section {
    /* border: 1px solid aliceblue; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--sectionMargin);

}

.am_title_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid aliceblue;
    margin: 20px 0;
    width: var(--contentWidth);
}

.am_title_container::before {
    font-size: 28px;
    color: var(--creamyRedBrown);
    margin: 10px;
    counter-increment: sec_number;
    content: "0" counter(sec_number) ".";
}

.am_title {
    font-size: 30px;
    color: var(--lightBlue);
    margin: 10px;
    white-space: nowrap;
    font-size: clamp(30px,5vw, 48px);
}

.am_title_line {
    display: block;
    width: 300px;
    height: 1px;
    background-color:rgb(35, 53, 84);
    margin: 10px;
    flex-shrink: 99;
    flex-grow: 99;
    margin-right: 70px;
}

.am_changing_flex_container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--lightBlue);
    /* margin: 20px 0; */
    width: var(--contentWidth);
    padding: var(--containerPadding);
}

.am_text {
    color: var(--lightBlue);
    font-size: 20px;
    line-height: 30px;
}

.am_text p {
    padding: var(--containerPadding) 0;
}

.am_text p a {
    text-decoration: none;
    color: var(--creamyRedBrown);
}

.technologies_ul {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.technologies_ul li svg {
    transform: scale(.4);
}

.technologies_ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.am_img_container {
    width: 100%;
    height: 300px;
    border: 1px solid aliceblue;
    position: relative;
    margin-top: 70px;
}

.am_img_overlay {
    width: 100%;
    height: 100%;
    background-color: #7c0014;
    opacity: .4;
    transition: all .3s ease;
}

.am_img_as_div_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -52%);
    aspect-ratio: 3/4;
    width: 250px;
    border-radius: 5px;
    background: url(../src/assets/images/portfolio_pic.JPG);
    background-size: cover;
    transition: all .3s ease;
}

.am_img_frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -48%);
    aspect-ratio: 3/4;
    width: 255px;
    border-radius: 5px;
    border: 3px solid var(--creamyRedBrown);
    transition: all .3s ease;
    z-index: -1;
}

.am_img_as_div_bg:hover {
    transform: translate(-55%, -55%);
}

.am_img_as_div_bg:hover .am_img_overlay {
    opacity: 0;
}

.am_img_as_div_bg:hover + .am_img_frame {
    transform: translate(-45%, -45%);
}

@media screen and (min-width:770px) {
    .am_changing_flex_container {
        flex-direction: row;
    }
    .am_img_container {
        width: 300px;
        min-width: 300px;
    }
}



/* EXPERIENCE */
/* EXPERIENCE */

.e_section {
    color: var(--lightBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--sectionMargin);

}

.e_title_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid aliceblue;
    margin: 20px 0;
    width: 90%;
}

.e_title_container::before {
    font-size: 28px;
    color: var(--creamyRedBrown);
    margin: 10px;
    counter-increment: sec_number;
    content: "0" counter(sec_number) ".";
}

.e_title {
    font-size: 30px;
    color: var(--lightBlue);
    margin: 10px;
    white-space: nowrap;
    font-size: clamp(30px,5vw, 48px);
}

.e_title_line {
    display: block;
    width: 300px;
    height: 1px;
    background-color:rgb(35, 53, 84);
    margin: 10px;
    flex-shrink: 99;
    flex-grow: 99;
    margin-right: 70px;
}

.commissioned_proj_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 366px; */
    /* min-height: 366px; */
    width: 100%;
    border: 1px solid aliceblue;
    margin: 20px 0;
    width: var(--contentWidth);

}

.commissioned_proj_div {
    width: 80%;
    height: 366px;
    min-height: 366px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--light-navy);
    box-shadow: inset 0px 0px 15px 2px rgba(190, 165, 169, .2);
    padding: 50px;
    margin: 20px 0;
    overflow: scroll;
    cursor: pointer;
    transition: background-color .3s ease;
}

.commissioned_proj_div:hover {
    background-color: var(--lightest-navy);
}

.commissioned_proj_div > * {
    line-height: 1.5;
}

.project_description {
    font-size: 20px;
    color: var(--light-slate);
}

.commissioned_proj_div ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--light-slate);
}

.proj_type_p {
    font-size: 20px;
    color: var(--creamyRedBrown);
}



/* PROJECTS */
/* PROJECTS */

.p_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--sectionMargin);
}

.p_title_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid aliceblue;
    margin: 20px 0;
    width: var(--contentWidth);
}

.p_title_container::before {
    font-size: 28px;
    color: var(--creamyRedBrown);
    margin: 10px;
    counter-increment: sec_number;
    content: "0" counter(sec_number) ".";
}

.p_title {
    font-size: 30px;
    color: var(--lightBlue);
    margin: 10px;
    white-space: nowrap;
    font-size: clamp(30px,5vw, 48px);
}

.p_title_line {
    display: block;
    width: 300px;
    height: 1px;
    background-color:rgb(35, 53, 84);
    margin: 10px;
    flex-shrink: 99;
    flex-grow: 99;
    margin-right: 70px;
}

.projects_ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    list-style: none;
    margin: 20 0px;
    width: var(--contentWidth);
}

.project_container {
    color: var(--light-slate);
    border: 1px solid var(--lightBlue);
    padding: 20px;
    background-color: var(--light-navy);
    cursor: pointer;
}

.project_name {
    transition: all .3s ease;
}

.project_container:hover .project_name {
    color: var(--creamyRedBrown);
}

.project_name {
    color: var(--lightBlue);
}

.tech_ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.p_icon_container {
    width: 100%;
    /* border: 1px solid aliceblue; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* CONTACT */
/* CONTACT */

.c_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--sectionMargin);
    color: var(--lightBlue);
}

.c_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--lightBlue);
    width: var(--contentWidth);
    padding: 50px;
}

.c_title_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid aliceblue;
    margin: 20px 0;
    width: var(--contentWidth);
}

.c_title_container::before {
    font-size: 28px;
    color: var(--creamyRedBrown);
    margin: 10px;
    counter-increment: sec_number;
    content: "0" counter(sec_number) ".";
}

.c_title {
    font-size: 30px;
    color: var(--lightBlue);
    margin: 10px;
    white-space: nowrap;
    font-size: clamp(30px,5vw, 48px);
}

.c_title_line {
    display: block;
    width: 300px;
    height: 1px;
    background-color:rgb(35, 53, 84);
    margin: 10px;
    flex-shrink: 99;
    flex-grow: 99;
    margin-right: 70px;
}

.c_small_title {
    font-size: 20px;
    color: var(--creamyRedBrown);
    text-align: center;
}

.c_large_title {
    font-size: 36px;
    text-align: center;
    margin: 10px;
}

.c_main_text {
    font-size: 20px;
    text-align: center;
    line-height: 26px;
}

.email_btn_container {
    position: relative;
    width: 120px;
    margin: 50px 0;
}

.email_fill_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 123px;
    height: 62px;
    background-color: var(--creamyRedBrown);
    border-radius: 5px;
}

.email_a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 28px;
    text-align: center;
    white-space: nowrap;
    background-color: var(--navy);
    border-radius: 5px;
    border: 2px solid var(--creamyRedBrown);
    text-decoration: none;
    color: var(--lightBlue);
    transition: all .3s ease;
}

.email_a:hover {
    transform: translate(-52%, -56%);

}