:root {
    /* d for dark */
    /* m for medium */
    /* b for bright */
    /* p for primary */
    /* s for secondary */

    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;


    /* spot pallette */
    /* --navy */
    --fadedNavy: #38445D;
    --lightBlue: #E3F0FF;
    --goldiLocks: #D8A31A;

    /* dotting palette */
    --fadedNavy2: #A5ABBD;
    --reddishBrown: #2D0F16;
    --creamyRedBrown: #BEA5A9;

    --resumeWidth: 35px;
    --baseFontSize: 16px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--navy);
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border: 1px solid aliceblue;
    height: 50px;
    /* padding: 25px 0px; */
    margin: 25px 0;
    position: relative;
    z-index: 2;
}

.logo_container {
    /* border: 1px solid red; */
    position: relative;
    height: 50px;
    width: 50px;
}

#logo_filled {
    position: absolute;
}

#logo_stroked {
    position: absolute;
    transition: all .3s ease;
}

.logo_container:hover #logo_stroked {
    transform: translate(-3px, -3px);
}

.burger_btn {
    border: 1px solid aliceblue;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    position: relative;
    height: 52px;
    width: 52px;
}

.burger_btn .line {
    background-color: var(--creamyRedBrown);
    width: 32px;
    height: 3px;
    position: absolute;
    border-radius: 5px;
}

@keyframes move_down_top {
    0% {
        top: 13px;
    }
    100% {
        top: 23px;
    }
}

@keyframes rotate_clockwise_top {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(225deg);
    }
}

@keyframes move_up_top {
    0% {
        top: 23px;
    }
    100% {
        top: 13px;
    }
}

@keyframes rotate_counterclockwise_top {
    0% {
        top: 23px;
        transform: rotate(225deg);
    }
    100% {
        top: 23px;
        transform: rotate(0deg);
    }
}

.line.top {
    top: 13px;
}

.line.top.inactive {
    transform: rotate(225deg);
    animation: rotate_counterclockwise_top .3s ease forwards, move_up_top .3s ease forwards .3s;
}

.line.top.active {
    animation: move_down_top .3s ease forwards, rotate_clockwise_top .3s ease forwards .3s;
}


 .line.middle {
    top: 23px;
}

.line.middle.active {
    transition: .3s ease .3s;
    opacity: 0;
}

.line.middle.inactive {
    transition: all .3s ease .3s;
}

@keyframes move_up_bottom {
    0% {
        top: 33px;
    }

    100% {
        top: 23px;
    }
}
@keyframes rotate_clockwise_bottom {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(315deg);
    }
}

@keyframes move_down_bottom {
    0% {
        top: 23px;
    }

    100% {
        top: 33px;
    }
}
@keyframes rotate_counterclockwise_bottom {
    0% {
        top: 23px;
        transform: rotate(315deg);
    }

    100% {
        top: 23px;
        transform: rotate(0deg);
    }
}

.line.bottom {
    top: 33px;
}

.line.bottom.inactive {
    transform: rotate(135deg);
    animation: rotate_counterclockwise_bottom .3s ease forwards, move_down_bottom .3s ease forwards .3s;
}

.line.bottom.active {
    animation: move_up_bottom .3s ease forwards, rotate_clockwise_bottom .3s ease forwards .3s;
}

.circle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--creamyRedBrown);
    transition: all .3s ease .3s;
}

.circle.active {
    opacity: 1;
}

.nav_ol {
    list-style-type: decimal-leading-zero;

    color: var(--creamyRedBrown);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 20px;
    display: none;
}

.nav_ol li a {
    text-decoration: none;
    color: var(--lightBlue);
}

@media screen and (min-width:770px) {
    .nav_ol {
        display: flex;
    }

    .burger_btn {
        display: none;
    }
}

.resume_div_container {
    position: relative;
    width: 35px;
    margin-left: 5px;
    margin-right: 25px;
    border-radius: 5px;
}

.resume_fill_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    width: 89px;
    background-color: var(--creamyRedBrown);
    color: var(--creamyRedBrown);
    border-radius: 5px;
    /* border: 2px solid var(--creamyRedBrown); */
}

.resume_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    background-color: var(--navy);
    color: var(--creamyRedBrown);
    border-radius: 5px;
    border: 2px solid var(--creamyRedBrown);
}


.resume_btn a {
    text-decoration: none; 
    color: var(--lightBlue);
    background-color: var(--navy);
    padding: 10px 20px;
    border-radius: 5px;
}

.resume_div_container:hover .resume_btn {
    transition: all .3s ease;
    transform: translate(-55%, -58%);
}

.collapsible_nav {
    height: 100vh;
    border: 1px solid red;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all .2s ease;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.collapsible_nav.closed {
    width: 0px;
}

.collapsible_nav.opened {
    width: 100vw;
    backdrop-filter: blur(10px);
} 

.collapsible_nav ul {
    /* list-style-type: decimal-leading-zero; */
    list-style: none;
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    color: var(--creamyRedBrown);
    gap: 20px 0;
    background-color: var(--light-navy);

}

.collapsible_nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px 0;
    font-size: 16px;
}

.collapsible_nav ul li > a {
    color: var(--lightBlue);
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    transition: color .5s ease;
}

.collapsible_nav ul li a:hover {
    color: var(--creamyRedBrown);
}


.resume_div_container_alt {
    position: relative;
    height: 40px;
    width: 104px;
    /* border: 2px solid red; */
    border-radius: 5px;
}

.resume_fill_div_alt {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 104px;
    transform: translate(-50%, -50%);
    background-color: var(--creamyRedBrown);
    border-radius: 5px;
}

.resume_btn_alt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    background-color: var(--light-navy);
    color: var(--creamyRedBrown);
    border-radius: 5px;
    border: 2px solid var(--creamyRedBrown);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.resume_btn_alt a {
    text-decoration: none;
    color: var(--lightBlue);
    font-size: 16px;
    transition: all .5s ease;
}

.resume_div_container_alt:hover .resume_btn_alt {
    transition: all .3s ease;
    transform: translate(-55%, -58%);
}





/* INTRODUCTION SECTION */

.intro_section {
    margin: 0 30px;
}

.greeting {
    font-size: 25px;
    color: var(--creamyRedBrown);
    line-height: 18px;
    margin: 20px 0;
}

.name {
    font-size: 48px;
    color: rgb(204, 214, 246);
    font-weight: 600;
}

.what_i_do_short {
    font-size: 48px;
    color: rgb(136, 146, 176);
}

.what_i_do_long {
    font-size: 16px;
    color: rgb(136, 146, 176);
    line-height: 26px;
}

.what_i_do_long span {
    color: var(--creamyRedBrown);
}

.link_to_best_proj_container {
    position: relative;
    height: 43px;
    width: 191px;
    background-color: var(--creamyRedBrown);
    border-radius: 5px;
    margin: 20px 0;
}

.best_proj_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 43px;
    width: 191px;
    border-radius: 5px;
    border: 2px solid var(--creamyRedBrown);
    background: var(--navy);
    cursor: pointer;
    color: var(--lightBlue);
    font-size: 16px;
    padding: 10px 20px;
}

.link_to_best_proj_container:hover .best_proj_btn {
    transition: all .3s ease;
    transform: translate(-52%, -56%);
    color: var(--creamyRedBrown);
}